.duracao {
  max-width: 400px;
}
label {
  display: flex;
  font-size: 20px;
  margin-top: 12px;
}
input {
  height: 40px;
  width: 100%;
  font-size: 18px;
}
button {
  font-size: 22px;
  font-weight: 500;
  background-color: pink;
  height: 40px;
  margin-top: 10px;
}
header {
  background-color: $primary;

  & h1 {
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    color: #fff;
  }
}
h2 {
  font-size: 22px;
  line-height: normal;
  padding: 20px 0;
  margin: 0;
}
.receitas {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
}

form {
  position: relative;
  padding: 0 12px;
  width: 100%;
}
.fromRecipe__add {
  z-index: 2;
  font-size: 50px;
  padding-bottom: 2px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  left: 50%;
  bottom: 20px;
  height: 75px;
  width: 75px;

  border-radius: 50%;
  transform: translateX(-50%);
  text-decoration: none;

  color: #fff;
  background-color: $primary;
}
