label {
  font-size: 20px;
}
header {
  background-color: $primary;

  & h1 {
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    color: #fff;
  }
}
h2 {
  font-size: 22px;
  line-height: normal;
  padding: 20px 0;
  margin: 0;
}
h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  padding: 10px 0;
  margin: 0;
}
form {
  position: relative;
  padding: 0 20px;
  width: 100%;
}
