.duracao {
  max-width: 400px;
}
label {
  display: flex;
  font-size: 20px;
  margin-top: 12px;
}
input {
  height: 40px;
  width: 400px;
  font-size: 18px;
}
button {
  font-size: 22px;
  font-weight: 500;
  background-color: pink;
  height: 40px;
  margin-top: 10px;
}
header {
  background-color: $primary;
}
header h1 {
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  color: #fff;
}
h2 {
  font-size: 22px;
  line-height: normal;
  padding: 20px 0;
  margin: 0;
}
.receitas {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
}
.receita {
  padding: 10px;
  background-color: #000000;
  color: #fff;
}
.receita p {
  margin: 0;
}
